/* You can add global styles to this file, and also import other style files */

@import 'tailwindcss';
@plugin 'tailwindcss-primeui';

html {
  color-scheme: light;
}

body {
  margin: 0;
  min-height: 100dvh;
  color: var(--p-text-color);
  background: var(--p-surface-50);
}
